.message {
    font-weight: 600;
    color: blue;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #4B9CD3;
    font-size: 4vw;
}

#options {
    border: gray;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    margin-right: 5%;
}

.checkbox {
    margin-left: 5%;
    margin-top: 2%;
}

#scale {
    width: 20%;
    margin-bottom: 3%;
}

#scale2 {
    width: 20%;
    margin-bottom: 3%;
}

h2{
    width:30px;
    margin-top:-20px;
    margin-left:5px;
    background:white;
}

#log {
    background-color: black;
    color: white;
    height: 50vh;
    overflow-y: auto;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2%;
    padding: 2%;
}

#resultFiles {
    text-align: center;
    margin-top: 3%;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    height: 35vh;
    margin-left: 2%;
}

#graph {
    text-align: center;
    background-color: #F1F1F1;
}